@model WhatBrowser.Models.ContactFormViewModel

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@using (Html.BeginForm("SendEmail","Home"))
{
    <div class="control-group">
        @Html.LabelFor(x => x.Name)
        <div class="controls">
            @Html.TextBoxFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(x => x.Email)
        <div class="controls">
            @Html.TextBoxFor(x => x.Email, new { @type = "email" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(x => x.Company)
        <div class="controls">
            @Html.TextBoxFor(x => x.Company)
            @Html.ValidationMessageFor(x => x.Company)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(x => x.Message)
        <div class="controls">
            @Html.TextAreaFor(x => x.Message)
            @Html.ValidationMessageFor(x => x.Message)
        </div>
    </div>

    @Html.HiddenFor(x => x.HTMLResults)

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="reset" class="btn">Cancel</button>
    </div>
    
}

