@using System.Net
@{
    ViewBag.Title = "What Browser";
}

@functions {
    string reverseIP(string ip)
    {
        if (string.IsNullOrEmpty(ip)) return ip;

        //return string.Empty;
        return Dns.GetHostByAddress(ip).HostName ?? ip;
    }    
}

<header>
    <h1>What Browser</h1>
    <a href="http://www.thecogworks.co.uk" target="_blank" class="logo">
        <img src="~/Content/cogworks-logo.png" />
    </a>
</header>
<div id="content">
    <div id="browserResults">
        <h2>Browser: @Request.Browser.Browser @Request.Browser.Version</h2>
        <h2>Layout Engine: @Request.Browser.Capabilities["layoutEngine"] @Request.Browser.Capabilities["layoutEngineVersion"]</h2>
        <h2>Platform: @Request.Browser.Platform</h2>
        <h2>Browser Languages: @Request.Headers["Accept-Language"]</h2>

        <h2>Javascript Version: @Request.Browser["JavaScriptVersion"]</h2>
        <noscript>
            <h2>JavaScript Enabled: False</h2>
        </noscript>

        <h2>Cookies Enabled: <span id="mmmCookies"></span></h2>

        <h2>IP: @Request.UserHostAddress</h2>
        <h2>ISP: @reverseIP(Request.UserHostAddress)</h2>

        <h2>Screen Bit Depth: @Request.Browser.ScreenBitDepth</h2>

        <h2>Screen Pixels Height: <span id="screenHeight"></span></h2>
        <h2>Screen Pixels Width: <span id="screenWidth"></span></h2>

        <h2>View Port Height: <span id="viewHeight"></span></h2>
        <h2>View Port Width: <span id="viewWidth"></span></h2>

        <h2>Orientation: <span id="orientation"></span></h2>
        <h2>Device Pixel Ratio: <span id="pixelRatio"></span></h2>

        @if (Request.Browser.IsMobileDevice)
        {
            <h2>Mobile: @Request.Browser.MobileDeviceManufacturer @Request.Browser.MobileDeviceModel</h2>
        }

        <h2>User Agent: @Request.UserAgent</h2>

        <hr />
        
        <h2>Modernizr Tests - Version <span id="modernizrVersion"></span></h2>
        <div id="modernizrTests"></div>
    </div>
    
    <hr />
    
    <!-- Email Form -->
    @Html.Partial("EmailForm")
</div> 

<footer>
    <h3>Built by Warren Buckley for The CogWorks &copy;2013</h3>
</footer>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom/Script.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38369370-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
}
